@media (min-width:1440px) {
    
    html {
        display: flex;
        justify-content: center;
        
        overflow-x: hidden;
    }

    body, header, main, .footer_content {
        display: flex;
        flex-wrap: wrap;
        max-width: calc(1440px - 2em);
        padding: 0 2em;
        justify-content: space-between;
    }

    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #logo {
        min-inline-size: 200%;
        display: flex;
        order: 1;
        
        height: 100%;
        padding-top: 6.3rem;
    }

    header nav {
        float: right;
        order: 2;
        display: flex;
        min-inline-size: 90%;
        height: 100%;
        align-items: flex-start;
        justify-content: end;
    }
    
    header nav a {
        width: 37%;
        padding: 3em 0.8em 0.8em 0em;
        border-bottom: 0px;
        margin-top: 3px;
    }

    header .active {
        border-top: 3px solid;
        margin-top: 0;
    }

    #logo_subscribe {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0;
        /* margin-right: 1.5rem; */
        height: 60px;
        padding-bottom: 2rem;
        padding-right: 3.6rem;
    }

    
    
    #subscribe {
        order: 3;
        height: 100%;
        margin-top: 6.4em;
    }

    

    #logo, #search p, #search h1, #search_form {
        margin-left: -0.5rem;
    }

    #search p {
        margin-top: -0.5em;
    }

    #search_form {
        width: 410px;
        margin-top: 1.5em;
    }

    #search_button {
        border-bottom-left-radius: 0em ;
        border-top-left-radius: 0em;
    }
    #search_button_icon {
        display: none;
    }
    #search_button_text {
        display: inline;
        font-weight: 700;
    }

    #filters {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 1em;
    }

    #filters p {
        margin-top: 0.1em;
        padding-right: 2.5em;
    }
    
    #info_icon {
        margin-top: 0.15em;
        margin-right: 0.15em;
        padding: 0.4em 0.8em;
    }

    #hebergements {
        display: flex;
        margin-bottom: 2.5rem;
    }

    #hebergements_popular, #hebergements_city {
        border-radius: 1.25em;
        padding: 2.5em;
    }

    #hebergements_popular {
        width: 340px;
        order: 2;
        margin-left: 2.5rem;
    }

    #hebergements_popular .hebergements_title {
        width: 350px;
        margin: 0 -0.8rem;
    }

    .hebergements_popular_cards {
        row-gap: 1.8rem;
        column-gap: 1.8rem;
    }

    #hebergements_city {
        width: 800px;
        order: 1;
        justify-content: flex-start;
    }

    #hebergements_city {
        background-color: #F2F2F2;
    }

    .hebergements_city_cards {
        row-gap: 1.8rem;
        column-gap: 1.8rem;
    }

    .hebergement_city_card {
        width: 245px;
        max-height: 200px;
    }

    #activites {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: left;
    }

    .activity_cards_1, .activity_cards_2, .activity_cards_3, .activity_cards_4 {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 42px;
        
    }

    .activity_cards_1, .activity_cards_2, .activity_cards_3 {
        padding-right: 27px;
    }

    .activity_card {
        width: 300px;
        flex-wrap: wrap;
        min-height: 0rem;
    }

    .activity_text {
        height: 20px;
        padding: 15px;
    }

    .activity_img {
        height: 0px;
    }

    .h100 {
        height: 445px;
    }

    .h70 {
        height: 235px;
    }

    .h30 {
        height: 165px;
    }

    .h40 {
        height: 195px;
    }

    .h60 {
        height: 208px;
    }

    .h100 .activity_img,
    .h70 .activity_img,
    .h60 .activity_img,
    .h40 .activity_img,
    .h30 .activity_img {
        height: calc(100% - 55px);
    }

    #activity_card_1 img,
    #activity_card_4 img {
        width: 220%; 
        margin-top: 0;
        position: relative;
        right: 60%;
    }

    #activity_card_2 img {
        width: 100%;
        position: relative;
        top: 20%;
    }

    #activity_card_3 img {
        width: 100%;
        margin-top: -5%;
        overflow: hidden;
    }

    #activity_card_4 img {
        filter: contrast(90%) brightness(130%) sepia(20%) saturate(1.2);
    }

    #activity_card_5 img {
        width: 100%;
        margin-top: 0%;
        overflow: hidden;
    }

    #activity_card_6 img {
        width: 100%;
        margin-top: -2.5%;
        overflow: hidden;
    }


    footer {
        min-width: 5000vw;
        display: flex;
        padding: 1rem 0rem 3rem 0rem;
        margin-left: -100rem;
    }

    .footer_content{
        margin-left: 100rem;
        display: flex;
        width: calc(100vw);
        justify-content: space-around;
    }

    #footer_left,
    #footer_center,
    #footer_right {
        width: 33.33%;
    }
}