/* Commentaire sur le format iPhone 8 : 375x667 */

* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}




/* || FONT Styles */

html {
    font-size: 16px;
    overflow-x: hidden;
}

#search h1 {
    font-size: 1.4rem;
}
#search p,
#search_button,
#info_text,
.activity_text {
    font-size: 1rem;
}

footer h3,
#search_location,
#search_input,
#filters p,
.icon i {
    font-size: 1.1rem;
}

#info_icon,
.hebergements_title,
.hebergement_popular_text,
.hebergement_city_card,
.activity_card {
    font-size: 0.9rem;
}

#subscribe a,
#search h1,
#search_input,
#filters,
.more,
.activity_text,
footer h3,
.hebergements_title {
    font-weight: 700;
}

.hebergements_title {
    letter-spacing: -0.005rem;
}

.rating i {
    letter-spacing: -0.25rem;
}

.hebergement_city_text {
    line-height: 1.35rem;
}

footer {
    line-height: 1.8rem;
}

.icon {
    text-align: center;
}

/* Font styles -- fin */




#logo_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    order: 1;
    padding: 0.9em;
}

#subscribe {
    order: 2;
    padding: 0.9em;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    order: 3;
}

header nav a {
    display: inline-flex;
    justify-content: center;
    width: 50%;
    padding: 0.5em 0.8em 0.8em 0.8em;
    border-bottom: 3px solid;
}

#search {
    padding: 0em 0.8em 2em 0.8em;
}

#search h1 {
    padding-top: 1em;
}

#search p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#search_form {
    margin: 2em 0 1em 0;
    width: 333px;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

#search_location {
    padding: 1.1em;
    width: calc(52px);
}

#search_input {
    border: none;
    padding: 1em;
    width: 224px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#search_button {
    padding: 1.1em;
    border: 1px solid;
}

#search_button_text {
    display: none;
    height: 100%;
}

#search_form {
    border-radius: 0.75em;
}

#filters {
    margin: 0;
    margin-bottom: 1.2rem;
}

#filters p {
    padding: 0.8em 0;
}

#filters ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#filters li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid;
    border-radius: 2em;
    padding-right: 1.2rem;
    margin: 0 0.7rem 0.7rem 0;
}

.icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    width: 30px;
    height: 30px;
    padding: 0.5rem;
    margin-right: 0.5em;
    border-radius: 5rem;
}

.icon i {
    margin: auto;
}

#info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top:0.5em;
}

#info_icon {
    border: 1px solid;
    padding: 0.7em 1em;
    border-radius: 5em;
}

#info_text {
    padding: 0.6em 0 0 0.5em;
}

#hebergements_popular {
    padding: 2.5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    width: 100%;
}

.hebergements_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hebergements_popular_title {
    float: left;
}

.hebergements_popular_chart {
    float: right;
}

.hebergements_popular_cards {
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.1em;
    column-gap: 1.1em;
}

.hebergement_popular_card {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 10px rgb(215, 215, 215);
    width: 343px;
    height: 145px;
    border-radius: 1em;
    background-color: red;
}

.hebergement_popular_img {
    height: calc(100% - 10px);
    width: 40%;
    border: 5px solid;
    border-right: 0px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    overflow: hidden;
}

.hebergement_popular_img img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.hebergement_popular_text {
    height: calc(100% - 1.6em);
    width: calc(60% - 2.5em);
    display: flex;
    flex-wrap: wrap;
    padding: 0.8em 1.5em 0.8em 1.2rem;
    align-items: stretch;
}

.hebergement_popular_text h3 {
    padding-bottom: 0.4em;
}

.rating {
    margin-top: 2.5em;
}

#hebergements_city {
    padding: 2.5em 1em;
    display: flex;
    flex-wrap: wrap;
}

.hebergements_city_cards {
    padding-top: 1.5em;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.1em;
    column-gap: 1.1em;
}

.hebergement_city_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 343px;
    max-height: 190px;
    border-radius: 1em;
    box-shadow: 0px 0px 10px rgb(215, 215,215);   
}

.hebergement_city_img {
    width: 100%;
    height: calc(60% - 10px);
    overflow: hidden;
    border: 5px solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.hebergement_city_img img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.hebergement_city_text {
    width: 100%;
    height: calc(40% - 1em);
    padding: 0em 0.5em 0.8em 0.5em;
}

.more {
    padding-top: 0.5em;
}

#activites {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.1rem;
    column-gap: 1.1rem;
    justify-content: center;   
}

#activites h2 {
    margin-bottom: 0.5rem;
}

.activity_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 12rem;
    width: 343px;
    border-radius: 1em;
    box-shadow: 0px 5px 10px rgb(230, 230, 230);   
    overflow: hidden;
    height: 180px;
    padding: 0;
}

.activity_img {
    overflow: hidden;
    height: 70%;
}

.activity_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.activity_text {
    height: calc(30% - 30px);
    padding: 15px;
}

#activity_card_1 img,
#activity_card_3 img,
#activity_card_4 img,
#activity_card_5 img {
    margin-top: -6.5%;
}

#activity_card_2 img {
    margin-top: -49%;
}

#activity_card_6 img {
    margin-top: -11%;
}

footer {
    margin-top: 30px;
    padding: 10px 20px 40px 20px;
}

footer h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}




/* || COLORS */

a {
    color: black;
}

#subscribe a,
.active,
.icon,
#info_icon,
.positive {
    color: #0065FC;
}

.active,
#search_button {
    border-color: #0065FC;
}

#search_button {
    color: white;
    background-color: #0065FC;
}

header nav a,
#search_input, 
#filters li {
    border-color: #F2F2F2;
}

#search p {
    color: rgb(29, 29, 29);
}

#search_location,
#hebergements_popular,
footer {
    background-color: #F2F2F2;
}

#search_form,
.hebergement_popular_card,
#hebergements_city,
.hebergement_city_card,
#activites,
.activity_card {
    background-color: white;
}

.hebergement_popular_img, .hebergement_city_img {
    border-color: white;
}

.rating {
    color: #bebebe;
}

footer a {
    color:rgb(59, 59, 59);
}

.icon {
    background-color: #DEEBFF;
}

.icon,
#info_icon {
    border-color: #DEEBFF;
}

/* Colors -- fin */